/* ROOT AND VAR DEFS */

:root {
    font-family: "Arial", "Helvetica", "sans-serif";

    --text-color: #111;
    --text-color-alt: #444;
    --secondary-color: #329696;

    color: var(--text-color);
    background-color: #ddd;
}

body {
    margin: 0px;
}

/* DEFAULT ELEMENT STYLES */

a {
    color: var(--text-color);
    text-decoration: unset;
}

a:hover {
    color: var(--text-color-alt);
    text-decoration: underline;
}

/* HEADER */

header {

}

.logo {
    height: 70px;
}

#logo-top-left {
    position: absolute;
}

/* NAV */

#navigation {
    padding-left: 140px; /* for top left logo */

    height: 70px;
    background-color: var(--secondary-color);

    display: flex;
    align-items: center;

    font-weight: bold;
}

.nav-link {
    padding: 0 1em;

    height: 70px;

    display: flex;
    align-items: center;
}

#first-nav-link {
    padding-left: 2em; /* first element needs double left padding */
}

/* MAIN */

main {
    padding-top: 25px;
    padding-bottom: 25px;

    min-height: 700px;
}

main > * {
    padding-left: 10px;
    padding-left: 10px;
}

.insert {
    padding: 0;

    background-color: var(--secondary-color);
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.insert-column {
    width: 600px;

    display: flex;
    flex-direction: column;
}

.insert-column h3 {
    padding: 0 20px;
}

.insert-column p {
    margin-top: 0;
    padding: 0 20px;
}


/* images */
figure {
    position: relative;
    max-height: 400px;

    justify-content: center;
    text-align: center;
}

figure img {
    max-height: 350px;
    max-width: 500px;
}

figcaption {
    justify-self: center;

    font-size: 12px;
}

/* downloads */
.download {
    color: #034575;
}

.download:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* FOOTER */

footer {
    padding: 0px 10px;

    min-height: 215px;
    background-color: var(--secondary-color);
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 15%;
}

.footer-column {
    width: 200px;

    display: flex;
    flex-direction: column;
}

.footer-bottom {
    margin: 0 5%;

    display: flex;
    align-items: center;

    gap: 5%
}

#language-select {
    margin-left: auto;
}